<div class="row">
	<div class="col-md-3">
		<h3>
			{{ 'pos.purchase.header' | translate }}
			<br>
			<small translate="pos.purchase.subheader"></small>
		</h3>
		<br>

		<form ng-submit="ctrl.searchParams.page=1;ctrl.search();">
			<div class="form-group">
				<button type="button" class="btn btn-primary" ng-click="ctrl.openForm(ctrl.purchase)">
					<span class="fa fa-plus"></span> {{ 'pos.purchase.label.addpurchase' | translate }}
				</button>
			</div>
			<hr>
			<div class="form-group">
				<input type="text" class="form-control" ng-model="ctrl.searchParams.q" placeholder="{{ 'pos.purchase.label.search' | translate }}..." autofocus>
			</div>
			<div class="form-group">
				<button type="submit" value="Search" class="btn btn-default">
					<span class="fa fa-search"></span> {{ 'pos.purchase.label.search' | translate }}
				</button>
			</div>
		</form>
	</div>
	<div class="col-md-9">
		<div class="row">
			<div class="col-md-12">
				<br>
				<div class="box">
					<div class="box-header">
					</div>
					<div class="box-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th translate="pos.purchase.label.timecode"></th>
										<th translate="pos.purchase.label.purchasedate"></th>
										<th translate="pos.purchase.label.totalpurchase"></th>
										<th translate="pos.purchase.label.description"></th>
										<th translate="pos.purchase.label.action"></th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="purchase in ctrl.purchases">
										<td><a href="" ng-click="ctrl.openForm(purchase)"><span ng-bind="purchase.purchasedate"></a></span></td>
										<td class="col-md-4">{{purchase.purchasedate | date :"dd-MM-yyyy H-mm-ss"}}</td>
										<td ng-bind="purchase.totalpurchase"></td>
										<td></td>
										<td>
											<a href="" class="btn btn-danger btn-xs" ng-click="ctrl.remove(purchase)" title="{{ 'pos.purchase.label.delete' | translate }}">
												<span class="fa fa-trash"></span>
											</a>
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="box-footer">
						<div class="row">
							<div class="col-md-6">
								<pagination total-items="ctrl.purchases.meta.totalElements" ng-model="ctrl.page" items-per-page="ctrl.purchases.meta.size" ng-change="ctrl.search()"></pagination>
							</div>
							<div class="col-md-6">
								<div class="pagination alert pull-right" translate="pos.purchase.label.total_entries" translate-values="{total: ctrl.purchases.meta.totalElements}"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.col -->
</div>
